.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.footer {
  position: absolute;
  bottom: 2%;
  left: 45%;
  align-items: center;
  justify-content: center;


}

a:link {
  color: #74a4d4;
  background-color: transparent;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #74a4d4;
}